## recommendation system with knn
- cols = beer_name, review_profilename, review_overall, review_aroma, review_appearance

In [1]:
import pandas as pd

path = '/home/ines/Downloads/beer_reviews.csv'
data = pd.read_csv(path)
data.head()
len(data.columns)

13

In [2]:
re_data = data.iloc[1:10001]
re_data.tail()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
9996,21590,Ram Restaurant & Brewery,1259451373,3.5,3.5,3.5,jdense,American IPA,3.5,3.0,Big Red IPA,6.0,54411
9997,5049,Bath Ales Ltd,1277680856,3.5,3.5,3.5,AEK,English Bitter,3.5,3.5,Golden Hare,4.4,52239
9998,5049,Bath Ales Ltd,1205875855,4.0,4.0,4.0,wl0307,English Bitter,3.5,4.0,SPA,3.7,41647
9999,5049,Bath Ales Ltd,1312801866,3.5,4.0,4.5,fullsweep,English Bitter,3.5,3.5,Wild Hare,5.0,34416
10000,5049,Bath Ales Ltd,1238938746,4.0,4.0,3.0,BlackHaddock,English Bitter,4.0,4.5,Wild Hare,5.0,34416

In [3]:
user_info = re_data.iloc[:,-7:-6]
beer_info = re_data.iloc[:, -3:-2]
rating_info = re_data.iloc[:, 3:6]
user_info
rating_info

       review_overall  review_aroma  review_appearance
1                 3.0           2.5                3.0
2                 3.0           2.5                3.0
3                 3.0           3.0                3.5
4                 4.0           4.5                4.0
5                 3.0           3.5                3.5
...               ...           ...                ...
9996              3.5           3.5                3.5
9997              3.5           3.5                3.5
9998              4.0           4.0                4.0
9999              3.5           4.0                4.5
10000             4.0           4.0                3.0

[10000 rows x 3 columns]

In [4]:
concat_data = pd.concat([user_info, beer_info, rating_info], axis=1)
concat_data.head()

,review_profilename,beer_name,review_overall,review_aroma,review_appearance
1,stcules,Red Moon,3.0,2.5,3.0
2,stcules,Black Horse Black Beer,3.0,2.5,3.0
3,stcules,Sausa Pils,3.0,3.0,3.5
4,johnmichaelsen,Cauldron DIPA,4.0,4.5,4.0
5,oline73,Caldera Ginger Beer,3.0,3.5,3.5

In [5]:
user_rating = concat_data.drop_duplicates(['beer_name', 'review_profilename'])
user_rating.head()
user_rating_pivot = user_rating.pivot(index='beer_name', columns='review_profilename', values='review_overall').fillna(0)
user_rating_pivot.shape

(945, 3192)

In [6]:
from scipy.sparse import csr_matrix
user_rating_matrix = csr_matrix(user_rating_pivot.values)
user_rating_matrix
user_rating_pivot.shape

(945, 3192)

In [7]:
from sklearn.neighbors import NearestNeighbors
model_knn=NearestNeighbors(metric="cosine",algorithm="brute")
model_knn.fit(user_rating_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [8]:
import numpy as np
query_index = np.random.choice(user_rating_pivot.shape[0])
print(user_rating_pivot.iloc[query_index,:])

review_profilename
NaN         0.0
05Harley    0.0
1759Girl    0.0
1Adam12     0.0
1fastz28    0.0
           ...
zimm421     0.0
zoolzoo     0.0
zoso1967    0.0
zrab11      0.0
zuggy9      0.0
Name: Pumpkin Ale, Length: 3192, dtype: float64

In [9]:
distances, indices = model_knn.kneighbors(user_rating_pivot.iloc[query_index,:].values.reshape(1, -1)
                                         , n_neighbors=6)
print('Distances=',distances, 'Indices=', indices)
print(distances.flatten())
print(len(distances.flatten()))

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('recommendation for {0}:\n'.format(user_rating_pivot.index[query_index]))
    else:
        print('{0}: {1}, with distacne of {2}:'.format(i, user_rating_pivot.index[indices.flatten()[i]],
                                                      distances.flatten()[i]) )

Distances= [[0.        0.3548373 0.4178384 0.4178384 0.4178384 0.4178384]] Indices= [[672 691 586 213  16 928]]
[0.        0.3548373 0.4178384 0.4178384 0.4178384 0.4178384]
6
recommendation for Pumpkin Ale:

1: Red Bird Mild, with distacne of 0.35483729662537267:
2: Nut Brown, with distacne of 0.41783839538216416:
3: Centennial Pale Ale, with distacne of 0.41783839538216416:
4: 2001 - A Stout Odyssey, with distacne of 0.41783839538216416:
5: Winter Wheat, with distacne of 0.41783839538216416:

In [19]:
len(set(user_rating['review_profilename']))

3192

In [50]:
dff_pivot

review_profilename,0,1,2,3,4,5,6,7,8,9,...,3182,3183,3184,3185,3186,3187,3188,3189,3190,3191
beer_name,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
label_list = []
for label in set(user_rating['review_profilename']):
    label_list.append(label)

In [28]:
[user_rating['review_profilename']]

[1               stcules
 2               stcules
 3               stcules
 4        johnmichaelsen
 5               oline73
               ...
 9996             jdense
 9997                AEK
 9998             wl0307
 9999          fullsweep
 10000      BlackHaddock
 Name: review_profilename, Length: 9932, dtype: object]

In [29]:
from sklearn.preprocessing import LabelEncoder
item_label = label_list
encoder = LabelEncoder()
encoder.fit(item_label)
digital_label = encoder.transform(item_label)
digital_label

array([2541, 2809, 1461, ...,  803, 1882, 1087])

In [31]:
map(user_rating['review_profilename'], digital_label)

In [38]:
le = LabelEncoder()
result = le.fit_transform(user_rating['review_profilename'])
result_b = le.fit_transform(user_rating['beer_name'])
print(result)
result_b

[2913 2913 2913 ... 3136 2015  193]

array([695, 123, 747, ..., 733, 924, 924])

In [59]:
con = {
    'user':result,
    'item':result_b,
    'review_overall':user_rating['review_overall'],
    'review_aroma': user_rating['review_aroma'],
    'review_appearance':user_rating['review_appearance']
}

In [64]:
con = {
    'user':result,
    'item':result_b,
    'raw_ratings':user_rating['review_overall'],
}

In [61]:
dff = pd.DataFrame(con, columns = ['user', 'item', 'review_overall',
                                  'review_aroma', 'review_appearance'])

In [65]:
dff = pd.DataFrame(con, columns = ['user', 'item', 'raw_ratings'])

In [76]:
dff = dff.fillna(0)
dff.shape
dff = dff.iloc[0:7001]

In [84]:
dff.raw_ratings[6163:6164]

6183    3.5
Name: raw_ratings, dtype: float64

In [85]:
import surprise
from surprise.model_selection import KFold

bsl_options = {
    'method': 'als',
    'n_epochs': 5,
    'reg_u': 12,
    'reg_i': 5
}
algo = surprise.BaselineOnly(bsl_options)

np.random.seed(0)
acc = np.zeros(3)
cv = KFold(3)
for i, (trainset, testset) in enumerate(cv.split(dff)):
    algo.fit(trainset)
    predictions = algo.test(testset)
    acc[i] = surprise.accuracy.rmse(predictions, verbose=True)
acc.mean()

KeyError: 6163

In [114]:
from tqdm import trange

class gd:
    def __init__(self, sparse_matrix, K, lr, beta, n_epochs):
        """
        Arguments
        - sparse_matrix : user-item rating matrix
        - K (int)       : number of latent dimensions
        - lr (float) : learning rate
        - beta (float)  : regularization parameter
        - n_epochs (int) : Num of Iteration
        """
        # convert ndArray
        self.sparse_matrix = sparse_matrix.fillna(0).to_numpy()
        self.item_n, self.user_n = sparse_matrix.shape
        self.K = K
        self.lr = lr
        self.beta = beta
        self.n_epochs = n_epochs
        
    def evaluate(self):
        #idx, jdx = self.sparse_matrix.to_numpy().nonzero()
        idx, jdx = self.sparse_matrix.nonzero()
        ys, preds = [], []
        print(idx, jdx)
        for i, j in zip(idx, jdx): # Item i에 대한 User j의 평가
            ys.append(self.sparse_matrix.iloc[i, j]) # 원본행렬
            preds.append(self.pred_matrix.iloc[i, j]) # 예측행렬

        error = mean_squared_error(ys, preds)
        return np.sqrt(error)
        
    def train(self):
        #Initialize user and item latent feature matrice
        self.I = np.random.normal(scale=1./self.K, size=(self.item_n, self.K))
        self.U = np.random.normal(scale=1./self.K, size=(self.user_n, self.K))

        # Init biases
        self.item_bias = np.zeros(self.item_n)
        self.user_bias = np.zeros(self.user_n)
        self.total_mean = np.mean(self.sparse_matrix[np.where(self.sparse_matrix != 0)])

        #Create training Samples
        idx, jdx = self.sparse_matrix.nonzero()
        samples = list(zip(idx, jdx))
        
        # Train start
        training_log = []
        progress = trange(self.n_epochs, desc="train-rmse: nan")
        for idx in progress:
            np.random.shuffle(samples)
            
            # Gradient Descent
            for i, u in samples:
                # get error
                y = self.sparse_matrix[i, u]
                pred = self.predict(i, u)
                error = y - pred
                # update bias
                self.item_bias[i] += self.lr * (error - self.beta * self.item_bias[i])
                self.user_bias[u] += self.lr * (error - self.beta * self.user_bias[u])
                # update latent factors
                I_i = self.I[i,:][:]
                self.I[i, :] += self.lr * (error * self.U[u,:] - self.beta * self.I[i,:])
                self.U[u, :] += self.lr * (error * I_i - self.beta * self.U[u,:])

            # Evaluate Current Epoch
            rmse = self.evaluate()
            progress.set_description("train-rmse: %0.6f" % rmse)
            progress.refresh()
            training_log.append((idx, rmse))
        # Train end, Save pred matrix
        self.pred_matrix =  self.get_pred_matrix()
        

    def predict(self, i, u):
        """
        :param i: item index
        :param u: user index
        :return: predicted rating
        """
        return (
            self.total_mean
            + self.item_bias[i]
            + self.user_bias[u]
            + self.U[u,:].dot(self.I[i,:].T)
        )

In [116]:
train = gd(user_rating_matrix, K=300, lr=0.01, beta=0.01, n_epochs=100)
train.train()

AttributeError: fillna not found

In [54]:
factorizer = MatrixFactorization(R, k=3, learning_rate=0.01, reg_param=0.01, epochs=100, verbose=True)
factorizer.fit()

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all().

In [52]:
user_rating_matrix

<945x3192 sparse matrix of type '<class 'numpy.float64'>'
	with 9932 stored elements in Compressed Sparse Row format>

In [88]:
user_rating.head()
user_rating.shape

(9932, 5)

In [94]:
train_dataset = user_rating.iloc[0:6001]
val_dataset = user_rating.iloc[6001: 7000]
test_dataset = user_rating.iloc[7000:]
test_dataset.head()

,review_profilename,beer_name,review_overall,review_aroma,review_appearance
7022,Absumaster,La Binchoise Blonde Tradition,4.0,3.5,4.0
7023,jwc215,La Binchoise Blonde Tradition,4.5,4.0,4.5
7024,djeucalyptus,La Binchoise Blonde Tradition,4.5,4.0,4.5
7025,gregmurer,La Binchoise Blonde Tradition,5.0,4.0,4.5
7026,Nipitato,La Binchoise Blonde Tradition,4.5,5.0,3.5

In [126]:
dff = dff.fillna(0)
dff.shape
dff = dff.iloc[0:10001]

In [127]:
dff

      user  item  raw_ratings
1     2913   695          3.0
2     2913   123          3.0
3     2913   747          3.0
4     2254   208          4.0
5     2604   194          3.0
...    ...   ...          ...
7018  1756   514          4.0
7019  2646   514          2.5
7020   637   514          3.0
7021  2975   514          3.5
7022    37   514          4.0

[7001 rows x 3 columns]

In [128]:
dff_pivot = dff.pivot(
    index='user',
    columns='item',
    values='raw_ratings'
)

ratings = dff_pivot.fillna(0).values

In [130]:
sparsity = float(len(ratings.nonzero()[0]))
sparsity /= (ratings.shape[0] * ratings.shape[1])
sparsity *= 100
print('{:.2f}%'.format(sparsity))

0.43%

In [131]:
from sklearn.model_selection import train_test_split

train, val = train_test_split(ratings)

In [132]:
MIN_USER_RATINGS = 35
DELETE_RATING_COUNT = 15

def train_test_split(ratings):

    validation = np.zeros(ratings.shape)
    train = ratings.copy()

    for user in np.arange(ratings.shape[0]):
        if len(ratings[user,:].nonzero()[0]) >= MIN_USER_RATINGS:
            val_ratings = np.random.choice(
              ratings[user, :].nonzero()[0],
              size=DELETE_RATING_COUNT,
              replace=False
            )
            train[user, val_ratings] = 0
            validation[user, val_ratings] = ratings[user, val_ratings]
    return train, validation

In [133]:
def rmse(prediction, ground_truth):
    prediction = prediction[ground_truth.nonzero()].flatten()
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [134]:

def fit(self, X_train, X_val):
  m, n = X_train.shape

  self.P = 3 * np.random.rand(self.n_latent_features, m)
  self.Q = 3 * np.random.rand(self.n_latent_features, n)

  self.train_error = []
  self.val_error = []

  users, items = X_train.nonzero()

  for epoch in range(self.n_epochs):
      for u, i in zip(users, items):
          error = X_train[u, i] - self.predictions(self.P[:,u], self.Q[:,i])
          self.P[:, u] += self.learning_rate * \
           (error * self.Q[:, i] - self.lmbda * self.P[:, u])
          self.Q[:, i] += self.learning_rate * \
           (error * self.P[:, u] - self.lmbda * self.Q[:, i])

      train_rmse = rmse(self.predictions(self.P, self.Q), X_train)
      val_rmse = rmse(self.predictions(self.P, self.Q), X_val)
      self.train_error.append(train_rmse)
      self.val_error.append(val_rmse)

In [136]:
def predictions(self, P, Q):
  return np.dot(P.T, Q)

In [137]:
def predict(self, X_train, user_index):
  y_hat = self.predictions(self.P, self.Q)
  predictions_index = np.where(X_train[user_index, :] == 0)[0]
  return y_hat[user_index, predictions_index].flatten()

In [146]:
class recommender:
    
    def fit(self, X_train, X_val):
      m, n = X_train.shape

      self.P = 3 * np.random.rand(self.n_latent_features, m)
      self.Q = 3 * np.random.rand(self.n_latent_features, n)

      self.train_error = []
      self.val_error = []

      users, items = X_train.nonzero()

      for epoch in range(self.n_epochs):
          for u, i in zip(users, items):
              error = X_train[u, i] - self.predictions(self.P[:,u], self.Q[:,i])
              self.P[:, u] += self.learning_rate * \
               (error * self.Q[:, i] - self.lmbda * self.P[:, u])
              self.Q[:, i] += self.learning_rate * \
               (error * self.P[:, u] - self.lmbda * self.Q[:, i])

          train_rmse = rmse(self.predictions(self.P, self.Q), X_train)
          val_rmse = rmse(self.predictions(self.P, self.Q), X_val)
          self.train_error.append(train_rmse)
          self.val_error.append(val_rmse)
            
    def predictions(self, P, Q):
        return np.dot(P.T, Q)
    
    def predict(self, X_train, user_index):
      y_hat = self.predictions(self.P, self.Q)
      predictions_index = np.where(X_train[user_index, :] == 0)[0]
      return y_hat[user_index, predictions_index].flatten()

In [147]:
user_id = 1236
user_index = dff.index.get_loc(user_id)
predictions_index = np.where(train[user_index, :] == 0)[0]

recommender1 = recommender()
recommender1.fit(x_train, y_train)
rating_predictions = recommender.predict(train, user_index)

NameError: name 'x_train' is not defined